<h3>Add User</h3>
<div [hidden]="submitted">
    <form #addUserForm="ngForm">

      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="name" placeholder="User's First Name" 
        required
        [(ngModel)]="user.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Firstname is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" placeholder="User's Surname"
        required
        [(ngModel)]="user.surname" name="surname" #surname="ngModel">
        <div [hidden]="surname.valid || surname.pristine"
             class="alert alert-danger">
             Surname is required
        </div>
      </div>

      <div class="form-group">
          <label for="birthday">Birthday</label>
          <my-date-picker name="birthday" placeholder="User's Birthday" [options]="{dateFormat: 'yyyy-mm-dd'}"
          [(ngModel)]="user.birthday" required #birthday="ngModel"></my-date-picker>
          <div [hidden]="birthday.valid || birthday.pristine"
               class="alert alert-danger">
              Birthday is required
          </div>
      </div>

      <div class="form-group">
        <label for="info">Info</label>
        <textarea class="form-control" rows="5" id="info" placeholder="User's Info"
        required
        [(ngModel)]="user.info" name="info" #info="ngModel"></textarea>
        <div [hidden]="info.valid || info.pristine"
             class="alert alert-danger">
            Info is required
        </div>
      </div>

      <div class="btn-group btn-group-sm">
      	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      	<button type="button" class="btn btn-primary" (click)="addUser()" [disabled]="!addUserForm.form.valid">Add</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    	<button type="button" class="btn btn-success" (click)="newUser(); addUserForm.reset()">Continue</button>
    </div>
</div>