<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">  
      <h1 title>Simple RestAPI</h1>
      <ul class="nav">
          <li class="nav-item">
              <a routerLink="users" class="btn btn-light btn-sm" role="button" routerLinkActive="active"><span class="badge badge-success">Show All</span></a> 
          </li>
          <li class="nav-item">
              <a routerLink="user/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active"><span class="badge badge-primary">Add User</span></a>
          </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>