<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">  
      <h1 title>Simple RestAPI</h1>
      <ul class="nav">
          <li class="nav-item">
              <a routerLink="users" class="btn btn-success btn-sm" role="button" routerLinkActive="active">
                Show All
              </a> 
          </li>
          <li class="nav-item">
              <a routerLink="user/add" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">
                Add User
              </a>
          </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>